.navbar-brand1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fcd029;
  font-size: 70px;
  letter-spacing: 15px;
  text-decoration: none;
}

.navbar-brand2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.brand {
  display: flexbox;
}

.bg-light {
  background-color: #eaf4f5;
}

.btn-1 {
  border-radius: 5px 15px;
  color: #fff;
  background-color: #44c1c5;
  border-color: #fcd029;
  border-width: 2px;
}

.btn-2 {
  border-radius: 5px 15px;
  color: #000000;
  background-color: #44c1c5;
  border-color: #fcd029;
  border-width: 2px;
  width: 100px;
  font-weight: bolder;
}
.btn-3 {
  border-radius: 5px 15px;
  color: #000000;
  background-color: #fcd029;
  border-color: #44c1c5;
  border-width: 2px;
  width: 200px;
  font-weight: bolder;
}

.btn-4 {
  border-radius: 5px 15px;
  color: #000000;
  background-color: #44c1c5;
  width: 130px;
  font-weight: bolder;
}

.input {
  border-radius: 5px 15px;
  width: 200px;
  color: #000;
}

.inputForm {
  border-radius: 5px 15px;
  width: 300px;
}
