.navbar-brand1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fcd029;
  font-size: 70px;
  letter-spacing: 15px;
  text-decoration: none;
}

.navbar-brand2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.brand {
  display: flexbox;
}
