.img-brand {
  width: 100px;
}

.brand {
  display: flexbox;
}

.bg-light {
  background-color: #eaf4f5;
}

/* Buttons*/

.btn-2 {
  border-radius: 0px 30px;
  color: #000000;
  border-width: 2px;
  padding: 10px;
  font-weight: bolder;
}

.w3 {
  width: 300px;
}

.w25 {
  width: 250px;
}

.w2 {
  width: 200px;
}

.btn-yellow {
  background-color: #fcd029;
  border-color: #44c1c5;
}

.btn-turq {
  background-color: #44c1c5;
  border-color: #fcd029;
}

.btn-black {
  color: #000000;
}

/* Typography*/

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}

/*CARDS*/

.card-img-bid {
  border-radius: 0px 80px;
  max-width: auto;
  max-height: 400px;
  padding-top: 20px;
}

.card-img-profile {
  border-radius: 0px 80px;
  max-width: auto;
  max-height: 200px;
  padding-top: 20px;
}

.card {
  background-color: #eaf4f5;
  border-radius: 0px 80px;
  margin: 20px;
  border-color: none;
  max-width: 400px;
  min-height: 450px;
}

.br-change {
  border-radius: 80px 0px;
}

.card2 {
  border-radius: none;
}

.card-div {
  justify-content: space-between;
  display: flex;
}

.card-div2 {
  justify-content: space-evenly;
  display: flex;
}

/*forms*/

.inputForm {
  border-radius: 0px 30px;
  min-width: 250px;
  height: 50px;
  margin-bottom: 40px;
  padding-left: 20px;
  border-color: #757676;
}

.inputForm-textarea {
  height: 100px;
}

.inputForm-2 {
  border-radius: 0px 30px;
  max-width: 300px;
  height: 50px;
  border-color: #fcd029;
}

.input {
  border-radius: 5px 15px;
  max-width: 200px;
}

/*colors*/

.btn-yellow {
  background-color: #fcd029;
  border-color: #44c1c5;
}

.btn-turq {
  background-color: #44c1c5;
  border-color: #fcd029;
}

.turq {
  background-color: #44c1c5;
}

.yellow-2 {
  background-color: #fcd029;
}

.navbar-color {
  background-color: #eaf4f5;
}

.white {
  background-color: #ffffff;
}

.yellow {
  color: #fcd029;
  border: solid;
}

.turq-2 {
  color: #44c1c5;
  border: solid;
}
