.btn-2 {
  border-radius: 0px 30px;
  color: #000000;
  border-width: 2px;
  padding: 10px;
  font-weight: bolder;
}

.btn-yellow {
  background-color: #fcd029;
  border-color: #44c1c5;
}

.btn-turq {
  background-color: #44c1c5;
  border-color: #fcd029;
}

