/*CARDS*/

.card-img-bid {
  border-radius: $br-card;
  max-width: $w-300px;
  max-height: 280px;
  padding-top: 20px;
}

.card-img-profile {
  border-radius: 0px 60px;
  max-width: 500px;
  max-height: 350px;
  padding-top: 20px;
}
.seller_avatar {
  border-radius: 50%;
  max-width: 50px;
  max-height: 100px;
}

.card_seller {
  border-color: #000000;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.card-img-bid-small {
  max-width: 200px;
  max-height: 200px;
  margin: 15px;
  object-fit: cover;
}
.card-img-bid-big {
  border-radius: 15px;
  max-width: 300px;
  max-height: 415px;
  margin: 15px;
  object-fit: cover;
}


.card-single-listing {
  background-color: $card-color;
  border-radius: $br-card;
  margin: 50px;
  max-width: 500px;
  min-height: 500px;
}

.card {
  background-color: $card-color;
  border-radius: $br-card;
  margin: 30px;
  border-color: none;
  max-width: $maw-400px;
  min-height: $miw-350px;
}

.br-change {
  border-radius: $br-card;
}

.card2 {
  border-radius: $br-0;
}

.card-div {
  justify-content: space-between;
  display: flex;
}

.card-div2 {
  justify-content: space-evenly;
  display: flex;
}
