/*CARDS*/

.card-img-bid {
  border-radius: $br-card;
  max-width: auto;
  max-height: $maw-400px;
  padding-top: 20px;
}

.card-img-profile {
  border-radius: $br-card;
  max-width: auto;
  max-height: $mah-200px;
  padding-top: 20px;
}

.card {
  background-color: $navbar-color;
  border-radius: $br-card;
  margin: 20px;
  border-color: none;
  max-width: $maw-400px;
  min-height: $mih-450px;
}

.br-change {
  border-radius: $br-card;
}

.card2 {
  border-radius: $br-0;
}

.card-div {
  justify-content: space-between;
  display: flex;
}

.card-div2 {
  justify-content: space-evenly;
  display: flex;
}
