.card-img-bid {
  border-radius: $br-card;
  max-width: $w-300px;
  max-height: $maw-400px;
  padding: 10px;
}

.card {
  background-color: $navbar-color;
  border-radius: $br-card;
  margin: 20px;
  border-color: none;
  max-width: $maw-400px;
  min-height: 450px;
}

.card2 {
  border-radius: $br-0;
}

.card-div {
  justify-content: space-between;
  display: flex;
}

.card-div2 {
  justify-content: space-evenly;
  display: flex;
}
