.turq {
    background-color: $turquoise;
  }
  
  .yellow-2 {
    background-color: $yellow;
  }
  
  .navbar-color {
    background-color: $navbar-color;
  }
  
  .yellow {
    color: $yellow;
    border: solid;
  }

  