/*colors*/

.bg-light {
  background-color: $navbar-color;
}

.btn-yellow {
  background-color: $yellow;
  border-color: $turqois;
}

.btn-turq {
  background-color: $turqois;
  border-color: $yellow;
}

.turq {
  background-color: $turqois;
}

.yellow-2 {
  background-color: $yellow;
}

.navbar-color {
  background-color: $navbar-element;
}

.navbar-color-element {
  color: $navbar-element;
}

.white {
  background-color: $white;
}

.yellow {
  border-color: $yellow;
  
}

.turq-2 {
  color: $turqois;
  border: solid;
}

.white-font {
  color: $white;
}

.container {
  background-color: #312f2f;
  height: 100%;
}