
/*custom colors*/

$navbar-color: #EAF4F5;
$black: #000000;
$yellow: #FCD029;
$turqois: #44C1C5;
$dark-green: #1B4E4F;
$white: #ffff;
$grey: #757676;
$card-color: #a6d3d7;
$description: #a1e2e8;



/*custom width*/

$w-300px: 300px !important;

$w-120px: 120px !important;
$maw-400px: 400px;
$miw-350px: 350px;


/* custom height*/

$mah-200px: 200px;
$mah-250px: 250px;
$mih-500px: 500px;
$mih-450px: 450px;
$h-50: 50px;

/*magin/padding*/
$m-20: 20px;
$m-40: 40px;
$p-10: 10px;
$m-30: 30px;



/*border radius*/


$br-img-round: 50%;
$br-input: 0px 30px;
$br-card: 0px 80px; 
$br-15: 15px;
$br-0: none;
