.navbar-brand1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $yellow;
    font-size: 120px;
    letter-spacing: 10px;
}

.navbar-brand2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $black;
    font-size: 50px;
}

